* {
  box-sizing: border-box;
}

html,
body,
input,
list-view {
  font-family: 'Raleway', sans-serif;
  color: #525454;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  bottom:0px;
  height: 100%;
  left: 0px;
  position: absolute;
  right: 0px;
  /*z-index: 1000;*/
}

#errorDiv {
  margin-left: 25%;
  text-align: center;
  /*background: url("images/noMap.png") no-repeat center;
  background-image: url("images/noMap.svg");
  background-size: contain;*/
}

input {
  /*position: fixed;*/
  left: 20px;
  top: 10%;
  /*height: 40px;*/
  width: 100%;
  font-size: .75em;
  text-align: center;
  /*z-index: 1000;*/
}

.list {
  cursor:pointer;
}

#list-view {
  /*position: fixed;*/
  top: 10px;
  right: 10px;
  width: 100%;
  background-color: #f0560b;
  margin: 0;
  padding: 10px;
  /*z-index: 110;*/
}

.wikiArticlesList {
  margin-top: 10px;
  text-align: center;
}
.butterArticlesList {
  margin: 10px;
}

#wikipedia-articles {
  padding: 10px;
  text-align: center;
}
.wikipedia-header {
  padding: 0;
  margin: 0;

}

h1 {
  font-size: 30px;
  margin: 0 0 10px 0;
  text-align: center;
  font-family: 'Poiret One', cursive;
}

h2 {
  padding: 10px;
  /*text-align: center;*/
}

li {
  margin: 1px;
  margin-left: 0px;
  font-family: 'Poiret One',
  padding:20px;
  font: 12px;
  list-style-type: none;
  text-align: center;
}


hr {
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(82, 82, 82, 0), rgba(82, 82, 82, 0.75), rgba(82, 82, 82, 0));*/
}

hr:last-child {
  display: none;
  background-image: none;
}

#toggleList {
  background-color: #fff;
height: 30px;
width: 100px;
padding-top: 7.5px;
margin-bottom: 20px;
text-align: center;
visibility: visible;
/*position: fixed;*/
/*z-index: 1000;*/
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 300px) {

  }

#wrapper {
    display: table-row;
    padding-left: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: 000;
}
/*
#wrapper.toggled {
    padding-left: 250px;
}*/

#sidebar-wrapper {
    display:table-cell;
    position: fixed;
    z-index: 1000;
    left: 250px;
    width: 100%;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#page-content-wrapper {
    display:table-cell;
    width: 100%;
    position: relative;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    /*position: absolute;*/
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;

}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#markerLayer img {
  animation: pulse .5s infinite alternate;
  -webkit-animation: pulse .5s infinite alternate;
  transform-origin: center;
  -webkit-transform-origin: center;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 150px;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
}

.info-windows{
		/*width: 144px;
		height:106px;
		color: #ffedc8;*/
  	font-family: 'Raleway', sans-serif;
		max-width: none;
		padding:0px;
		margin:0px;
	}
	.info-windows img{
		padding:10px;
		margin:0px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    font-size: 0.2em;
	}

/*thanks to https://paulund.co.uk/css-filter*/
  .info-windows img:hover {
  	filter: grayscale(0);
  	-webkit-filter: grayscale(0);
  	-moz-filter: grayscale(0);
  	-o-filter: grayscale(0);
  	-ms-filter: grayscale(0);
    transform: rotateY(360deg);
    -webkit-transform: rotateY(180deg);
    transition-duration: 1.5s;
    -webkit-transition-duration:1s;
    filter: saturate(300%);
    -webkit-filter: saturate(300%);
    -moz-filter: saturate(300%);
    -o-filter: saturate(300%);
    -ms-filter: saturate(300%);
  }
